<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kirjautuminen</title>
  </head>
  <body>
    <h2>Kirjaudu sisään</h2>
    <form method="post" action="/login">
        <label for="käyttäjätunnus">Käyttäjätunnus:</label>
        <input type="text" id="käyttäjätunnus" name="username" required>
        
        <label for="salasana">Salasana:</label>
        <input type="password" id="salasana" name="password" required>
        
        <button type="submit">Kirjaudu sisään</button>
    </form>
  </body>
</html>